.qr-code-container {
  width: 90%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 20px;
}

.qr-code-frame {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
  padding: 20px;
  position: static;
}

.qr-title {
  color: white;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.1;
  margin-top: 151px;
  font-family: "Heineken-Bold";
}

.qr-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
}

.qr-code {
  display: block;
}

.print-content {
  display: block;
}

.result-image-container2 {
  width: 300px;
  height: 450px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  box-sizing: border-box;
  border: 3px solid white;
}

.result-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.result-image-container2::before,
.result-image-container2::after,
.result-image-container2 > *::before,
.result-image-container2 > *::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-color: white;
  border-style: solid;
  z-index: 20;
}

.result-image-container2::before {
  top: -20px;
  left: -20px;
  border-width: 3px 0 0 3px;
}

.result-image-container2::after {
  top: -20px;
  right: -20px;
  border-width: 3px 3px 0 0;
}

.result-image-container2 > *::before {
  bottom: -20px;
  left: -20px;
  border-width: 0 0 3px 3px;
}

.result-image-container2 > *::after {
  bottom: -20px;
  right: -20px;
  border-width: 0 3px 3px 0;
}

.result-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.print-button {
  width: 400px;
  max-width: 90%;
  background-color: white;
  color: #EA002A;
  border: none;
  height: 80px;
  font-size: 40px;
  font-family: "Heineken-Bold";
}

.next-button {
  width: 400px;
  max-width: 90%;
  background-color: white;
  color: #EA002A;
  border: none;
  height: 80px;
  font-size: 40px;
  font-family: "Heineken-Bold";
}

@media (max-width: 768px) {
  .qr-code-frame {
    flex-direction: column;
    gap: 20px;
  }
  
  .qr-title {
    font-size: 32px;
    margin-top: 100px;
  }
}

